* {
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    width: 100%;
    background-color: #cbcbcb; 
    padding: 10px 0;
    text-align: center; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    position: fixed;
    top: 0;
    z-index: 10;
}

.heading h3 {
    margin: 0;
    font-size: 30px;
}

.container {
    display: flex;
    width: 90vw;
    box-sizing: border-box;
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 100px 10px 10px 10px;
    position: relative;
    transition: all 700ms ease-in;
}

.panel h3 {
    font-size: 40px;
    position: absolute;
    top: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel p {
    font-size: 15px;
    position: absolute;
    top: 30px;
    left: 20px;
    margin-top: 40px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.5s ease-in 0.7s;
}

.panel h3:hover + p {
    opacity: 1;
    pointer-events: none;
}

@media (max-width: 480px) {
    .container {
        width: 100vw;
    }
    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
        display: none;
    }
}