* {
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #E28A69;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.btn {
    background-color: #E6E0D3;
    color: #070F18;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}

.btn:focus {
    outline: none;
}

.btn:active {
    transform: scale(0.95);
}

#toasts {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.toast {
    background-color: #E6E0D3;
    border-radius: 50px;
    padding: 1rem 2rem;
    margin: 0.5rem;
}

.toast.info {
    color: rebeccapurple;
}

.toast.success {
    color: green;
}

.toast.error {
    color: red;
}